body {
    text-align: center;
    color: #000;
    font-family: Verdana,sans-serif;
    background-image: url('../images/background.png');
}

body, pre code {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #6da3bd;
}
a:hover {
    text-decoration: underline;
    color: #4d7285;
}

.div_centred {
    text-align: center;
}

.container {
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 120px;
    max-width: 1260px;
    min-width: 780px;
    background: #FFF;
    margin: 0 auto;
    text-align: left;
}

.html_format {
    white-space: pre-wrap;
}

.post__body {
    font-size: 14px;
}


.comment_title {
    color: #AFA56A;
    margin-bottom: 20px;
    font-size: 22px;
    font-family: Verdana,sans-serif;
    letter-spacing: -1px;
    font-weight: 400;
}

.comment-item {
    font-size: 11px;
    font-family: tahoma,sans-serif;
    height: 24px;
    line-height: 24px;
}
.comment-item__user-info {
    display: inline-block;
    vertical-align: middle;
}
.comment-item__time_published {
    display: inline-block;
    vertical-align: middle;
    margin-left: -3px;
    font-size: 10px;
    color: #666;
}
.comment-item__username {
    display: inline-block;
    vertical-align: top;
    margin-left: -3px;
    margin-right: 10px;
    color: #666;
    font-weight: 700;
}
.comment-item__avatar {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    position: relative;
}
.voting-wjt.voting-wjt_comments {
    line-height: normal;
}
.voting-wjt_comments {
    float: right;
}
.voting-wjt {
    padding: 0;
    text-align: left;
    height: 100%;
}
.voting-wjt_comments .voting-wjt__counter {
    line-height: 24px;
    margin-right: 3px;
}
.voting-wjt__counter {
    height: 100%;
    text-align: center;
    position: relative;
}

.voting-wjt__button_score, .voting-wjt__counter-score, .voting-wjt__result-score {
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    vertical-align: baseline;
    font-size: 13px;
    font-weight: 700;
    color: #c6d4d8;
}

.message {
    font-size: 14px;
    font-family: Arial,sans-serif;
    line-height: 140%;
    padding-bottom: 20px;
    padding-top: 5px;
}

.fonts-loaded .page-header__title {
    font-family: 'Fira Sans',sans-serif;
    font-weight: 500;
}
.page-header__form-selector, .page-header__title_inline {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}
.page-header_inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.page-header__title {
    line-height: 70px;
    font-size: 34px;
    font-weight: 700;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    color: #535353;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1 {
    font-size: 20px;
}
h1, h2, h3, h4 {
    color: #999;
    font-family: Verdana,sans-serif;
}
h1, h2, h3, h4, h5 {
    font-weight: 400;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-style: normal;
    vertical-align: baseline;
    outline: 0;
}

#layout {
    height: auto;
    position: relative;
    margin: 0 auto;
    border: 0;
    background-color: #fff;
    padding: 0;
    min-width: 1024px;
    max-width: 1440px;
    min-height: 100%;
    text-align: left;
}

#layout, body, html {
    height: 100%;
}



.counter_new {
    color: #629729;
}

.abuse-form, .abuse-form__button, .abuse-form__text-field, .author-info, .menu, .post-type, .profile-header__stats, .tabs-menu, .user-popover, .user-summary__counters {
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
}




.page-nav {
    font-family: Tahoma,sans-serif;
}
.page-nav #nav-pages {
    clear: left;
    padding-top: 10px;
    overflow: hidden;
    font-size: 14px;
}
.page-nav ul.next-prev {
    overflow: hidden;
    font-size: 24px;
}

.page-nav ul.next-prev li {
    float: left;
    margin-right: 15px;
}

.page-nav #nav-pages li {
    float: left;
    margin-right: 5px;
}

.page-nav #nav-pages li em {
    background: #7a9bac;
    color: #fff;
}
.page-nav #nav-pages li a, .page-nav #nav-pages li em {
    display: block;
    padding: 2px 5px;
}






.postinfo-panel {
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    margin: 0;
    display: inline-block;
    border: 1px solid #ebeaea;
    height: 40px;
    width: auto;
    position: relative;
    background: #fff;
}
.postinfo-panel, .yadir-footer {
    padding: 0;
    box-sizing: border-box;
}

.navigation-links, .post-share, .postinfo-panel, .sidebar-block__list, .user-contacts, ol, ul {
    list-style: none;
}

.postinfo-panel__item {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
.postinfo-panel * {
    box-sizing: border-box;
}

.voting-wjt.voting-wjt_infopanel {
    padding: 0 5px;
    border-right: 1px solid #ebeaea;
}
.voting-wjt {
    padding: 0;
    text-align: left;
    height: 100%;
}
.voting-wjt__button {
    border: 0;
    box-shadow: none;
    cursor: pointer;
    background-color: transparent;
}
.voting-wjt__button_minus, .voting-wjt__button_plus {
    height: 100%;
    width: auto;
    padding: 0 0;
    margin: 0;
    overflow: hidden;
    font-size: 16px;
    color: #c7d4d8;
}
.voting-wjt__button_minus, .voting-wjt__button_plus, .voting-wjt__counter {
    display: inline-block;
    vertical-align: middle;
}

.views-count_post {
    white-space: nowrap;
    padding: 0 5px 0 15px;
    font-size: 13px;
    color: #545454;
}

.post_views_count {
    font-size: 16px;
    margin-right: 8px;
    top: 3px;
    position: relative;
}
.favorite-wjt__counter, .post-comments, .views-count_post {
    height: 100%;
    line-height: 38px;
}

.postinfo-panel__item + .postinfo-panel__item {
    margin-left: -4px;
}
.postinfo-panel__item {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.favorite-wjt {
    padding: 0 5px 0 0;
    height: 100%;
}

.favorite-wjt__button {
    height: 100%;
    padding: 0 8px 0 10px;
    color: #bac8cc;
    font-size: 13px;
}

.favorite-wjt__button.add {
    color: #bac8cc;
}
.favorite-wjt__button, .voting-wjt__button {
    border: 0;
    box-shadow: none;
    cursor: pointer;
    background-color: transparent;
}
.favorite-wjt__button {
    height: 100%;
    padding: 0 8px 0 10px;
    color: #bac8cc;
    font-size: 13px;
}
.post_favorites {
    width: 20px;
    height: 20px;
    top: 1px;
    position: relative;
}

.favorite-wjt__counter {
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    text-align: left;
    font-size: 13px;
    color: #545454;
    min-width: .65em;
}

.post-author, .post-author_original {
    padding-left: 10px;
    line-height: 38px;
}
.postinfo-panel__item {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
.post-author__link, .post-author__name {
    font-size: 13px;
    font-weight: 700;
    color: #66a3be;
}

.post-author__pic {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -4px;
    width: 24px;
    height: 24px;
    text-align: center;
}

.postinfo-panel__item_comments .post-comments {
    border-left: 1px solid #ebeaea;
    margin-left: 20px;
    padding: 0 15px;
}
.post-comments {
    text-align: center;
    padding: 0 10px;
}

.postinfo-panel__item_comments .post-comments__link {
    font-weight: 700;
    color: #6da3bd;
}
.post-comments__link {
    font-size: 13px;
    font-weight: 400;
    color: #545454;
    display: inline-block;
    vertical-align: top;
}





.post__time_published {
    display: inline-block;
    vertical-align: baseline;
    color: #7e7e7e;
    font-size: 11px;
    margin-bottom: 2px;
}
.fonts-loaded .post__flow, .fonts-loaded .post__title, .fonts-loaded .post__title_link {
    font-family: 'Fira Sans',sans-serif;
    font-weight: 500;
}
.post__title {
    margin-bottom: 5px;
}
.post__title, .post__title_link {
    color: #555;
}
.post__flow, .post__title, .post__title_link {
    line-height: 34px;
    font-size: 28px;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h2 {
    font-size: 18px;
}
h1, h2, h3, h4 {
    color: #999;
    font-family: Verdana,sans-serif;
}
h1, h2, h3, h4, h5 {
    font-weight: 400;
}

.post .hubs {
    font-size: 11px;
    color: #999;
    margin-bottom: 15px;
    position: relative;
    padding: 0 0 0 20px;
}
.comment_editor {
    width: 60%;
    margin-bottom: 10px;
    border: 1px solid #dcdcdc;
    padding: 0;
    background: #fff;
    box-sizing: border-box;
}
.comment_editor textarea {
    width: 100%;
    padding: 4px;
    border: 0;
    margin: 0;
    font-size: 14px;
    outline: 0;
    height: 120px;
    vertical-align: top;
    box-sizing: border-box;
}
.submit_comment {
    margin-left: -3px;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: #464646;
    background-color: #F4F4F4;
    box-shadow: none;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    border: 1px solid #C9C9C9;
    height: 32px;
    padding: 0 13px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 4px;
    box-sizing: border-box;
}
.submit_comment[disabled=disabled], .submit_comment:disabled {
    cursor: not-allowed;
    color: #929292;
    background-color: #fff;
    border-color: #dcdcdc;
}
.no_comments_yet {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #d3f2c0;
    position: relative;
}



.profile-header {
    display: table;
    width: 100%;
    margin: 20px auto 10px auto;
}
.profile-header__summary {
    display: inline;
    vertical-align: middle;
    width: auto;
    background-color: transparent;
}
.author-info_profile {
    background-color: transparent;
    padding: 0;
    white-space: normal;
}
.author-info {
    padding: 20px 5px 20px 0;
    width: 100%;
    position: relative;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
}
.author-info__image {
    margin-right: 15px;
    overflow: hidden;
    width: 48px;
    height: 48px;
    z-index: 2;
}
.author-info__desc, .author-info__image {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.profile-header .author-info__specialization {
    color: #888;
    line-height: 16px;
}
.author-info__specialization {
    color: #8b8b8b;
    font-size: 14px;
    margin: 5px 0 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
}
.author-info * {
    box-sizing: border-box;
}
.profile-header__stats {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}
.profile-header .user-rating, .profile-header .voting-wjt {
    vertical-align: top;
    height: auto;
    border: 0;
}
.karma__widjet, .user-rating {
    display: inline-block;
    vertical-align: baseline;
}
.voting-wjt_user-profile {
    vertical-align: top;
    height: auto;
    border: 0;
}
.voting-wjt {
    padding: 0;
    text-align: left;
    height: 100%;
}
.voting-wjt_user-profile .voting-wjt__counter {
    padding: 0 9px 0 15px;
}
.wjt__counter-score, .voting-wjt_user-profile .voting-wjt__counter-score {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    position: relative;
    top: -2px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
.voting-wjt__counter_positive .voting-wjt__counter-score {
    color: #6c9007;
}
.voting-wjt_user-popover .voting-wjt__label, .voting-wjt_user-profile .voting-wjt__label {
    position: static;
    top: 0;
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
}
.voting-wjt__label {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 10px;
    color: #9b9b9b;
    line-height: 10px;
}
.voting-wjt_user-profile + .statistic_user-rating {
    padding-left: 6px;
}
.statistic_user-rating, .user-mail {
    padding-left: 20px;
}
.statistic {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    line-height: normal;
}
.statistic__value_magenta {
    color: #c6c;
}
.statistic__value {
    top: -2px;
    line-height: 23px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    position: relative;
}
.statistic__label {
    color: #9b9b9b;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
}






.column-wrapper {
    width: 100%;
    position: relative;
}
.content_left {
    float: left;
    /*padding-right: 320px;*/
    width: 100%;
    box-sizing: border-box;
}
.tabs {
    margin-bottom: 20px;
    position: relative;
}
.tabs-menu_habrahabr {
    background-color: #f2f2f2;
    display: table;
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
}
.tabs-menu {
    position: relative;
}
.tabs-menu__item_inline {
    width: 17%;
    display: table-cell;
    vertical-align: top;
}
.tabs-menu * {
    box-sizing: border-box;
}
a.tab-item_current {
    border-right: 0;
    background-color: #cee0e6;
}
.tab-item_stacked {
    display: table;
    height: 70px;
    line-height: normal;
}
.tab-item {
    overflow: hidden;
    padding: 0;
    height: 35px;
    line-height: 35px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #555;
    border-right: 1px solid #e5e5e5;
    font-size: 13px;
}
.user_profile dl {
    margin-bottom: 16px;
    padding-bottom: 1px;
    overflow: hidden;
}
.user_profile dt {
    float: left;
    font-size: 13px;
    color: #666;
    text-align: left;
    width: 145px;
}
.user_profile dd {
    margin-left: 157px;
    font-size: 13px;
}
.hubs_list ul {
    font-size: 12px;
}
.companies_list ul, .friends_list ul, .hubs_list ul {
    font-family: arial;
    line-height: 18px;
    overflow: hidden;
}
.hubs_list ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.grey a, a.grey {
    color: #666;
}
.hub_icon {
    height: 12px;
    margin-right: 2px;
}



.comments_list {
    position: relative;
    padding-left: 20px;
    margin-left: -20px;
    padding-top: 25px;
}
.comments_list, .comments_list .comment_item_plain .comment_item .info {
    overflow: hidden;
}
.comments_list .comment_item_plain {
    overflow: hidden;
    margin-bottom: 10px;
}

.comments_list .comment_item_plain .post_info {
    font-family: Tahoma,sans-serif;
    font-size: 10px;
    margin-bottom: 5px;
    width: 140px;
    float: left;
}
.comments_list .comment_item_plain .comment_item {
    margin-left: 150px;
}
.comments_list .comment_item {
    margin-bottom: 20px;
}
.comment_item {
    position: relative;
}
.comment-item__avatar-img {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    position: relative;
    top: 0;
}

.error {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}


.voting-wjt_infopanel .voting-wjt__counter {
    line-height: 38px;
}
.voting-wjt__button_plus + .voting-wjt__counter {
    margin-left: -1px;
}

.comments_pic {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    text-align: center;
}
